@tailwind base;
@tailwind components;
@tailwind utilities;

/* グローバルスタイル（必要に応じて追記） */
html,
body,
#root {
  height: 100%;
}

:root {
  --app-height: 100vh;
}

body {
  margin: 0;
}

.safe-area-top {
  padding-top: env(safe-area-inset-top);
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
